@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply absolute right-0 hidden sm:block sm:max-w-[10px];
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #18181b;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #27272a;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}

@layer components {
  .button {
    @apply appearance-none bg-zinc-900 rounded-md border-zinc-400 border-2 px-2 py-1 hover:border-zinc-100
  }

  .button-no-border {
    @apply appearance-none bg-zinc-900 px-2 py-1
  }

  .input {
    @apply appearance-none bg-zinc-900 rounded-md border-zinc-400 border-2 px-2 py-1
  }
}